<div class="teams-page">
  <div class="teams">
    <% @teams.each do |team| %>
      <%= link_to team_path(team) do %>
        <div class="team">
          <div class="team-body">
            <div class="team-name">
              <%= team.name %>
            </div>
            <div class="team-description">
              <%= team.description %>
            </div>
          </div>
          <% if !team.jokes.empty? %>
            <div class="golden-spoon">
              <% @joke_likes = team.jokes.map do |joke| %>
                <% joke.likes.count %>
              <% end  %>
              <% @golden_joke = @joke_likes.index { |x| x == @joke_likes.max } %>
              <% @golden_user =  team.jokes[@golden_joke].user %>
              <div class="golden-user">
                <p> <%= @golden_user.pseudo %> </p>
                <%= cl_image_tag @golden_user.photo, class:"joke-avatar" %>
              </div>
              <h3> La cuillère en <strong> OR </strong></p>
            </div>
          <% end  %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="team-button-parent">
    <%= link_to "+ Crée une équipe", new_team_path, class: 'add-team-button' %>
    <%= link_to "+ Rejoins une équipe", new_teamuser_path, class: 'join-team-button' %>
  </div>

</div>



