<div class="teams">
  <% @teams.each do |team| %>
    <%= link_to team_path(team) do %>
      <div class="card">
        <h2> <%= team.name  %> </h2>
        <p> <%= team.description %> </p>
      </div>
    <% end %>
  <% end %>
</div>
<div class="team-button-parent">
  <%= link_to "+ Crée une équipe", new_team_path, class: 'add-team-button' %>
  <%= link_to "+ Rejoins une équipe", new_teamuser_path, class: 'add-team-button' %>
</div>

