<div class="teams-page">
  <div class="jokes-bis">
    <% @teams.each do |team| %>
      <div class="joke">
        <%= link_to team_path(team) do %>
          <div class="joke-body">
            <div class="team-name">
              <%= team.name %>
            </div>
            <div class="team-description">
              <%= team.description %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="team-button-parent">
    <%= link_to "+ Crée une équipe", new_team_path, class: 'add-team-button' %>
    <%= link_to "+ Rejoins une équipe", new_teamuser_path, class: 'join-team-button' %>
  </div>

</div>



