<div class="teams-page">
  <div class="teams">
    <% @teams.each do |team| %>
      <%= link_to team_path(team) do %>
        <div class="team">
          <div class="team-body">
            <div class="team-name">
              <%= team.name %>
            </div>
            <div class="team-description">
              <%= team.description %>
            </div>
          </div>
          <% if !team.jokes.empty? %>
            <div class="golden-spoon">
              <% @joke_likes = team.jokes.map do |joke| %>
                <% joke.likes.count %>
              <% end  %>
              <% @golden_joke = @joke_likes.index { |x| x == @joke_likes.max } %>
              <% @golden_teamuser =  team.jokes[@golden_joke].teamuser %>
              <div class="golden-user">
                <div class="d-flex">
                  <% if !@golden_teamuser.user.nil? %>
                    <%= cl_image_tag @golden_teamuser.user.photo, class:"joke-avatar" %>
                  <% else %>
                    <%= image_tag "wooden-user.jpg", class:"joke-avatar" %>
                  <% end %>
                  <i class="fas fa-utensil-spoon golden"></i>
                </div>
                <%= @golden_teamuser.teamuser_pseudo %>
              </div>
            </div>
          <% end  %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="team-button-parent">
    <%= link_to "+ Crée une équipe", new_team_path, class: 'add-team-button' %>
    <%= link_to "+ Rejoins une équipe", find_team_path, class: 'join-team-button' %>
  </div>

</div>



