<% if @teams.empty? %>
  <p> Crée toi une team ou rejoins en une avec son code</p>
<% else %>
  <% @teams.each do |team| %>
    <%= link_to team_path(team) do %>
      <div class="card">
        <h2> <%= team.name  %> </h2>
        <p> <%= team.description %> </p>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= link_to "+ Crée une équipe", new_team_path, class: 'btn btn-primary' %>

<%= link_to "+ Rejoins une équipe", new_teamuser_path, class: 'btn btn-primary' %>

