<h1><%= @team.name.capitalize %></h1>
<p>code : <strong> <%= @team.code %></strong></p>

<% if @users.empty? %>
  <p> Ajoute des participants </p>
<% else %>
  <p> Participants :
  <% @users.each do |user| %>
    <% if user == @users.last %>
      <%= user.pseudo %>
    <% else %>
      <%= user.pseudo + ", " %>
    <% end %>
  <% end %> </p>
<% end %>

<% @jokes.each do |joke| %>
  <div class="card">
    <h2> <%= User.find_by(id: joke.user_id).pseudo  %> : "<%= joke.description %>"

    <% @joke_likes = joke.likes.map do |like| %>
      <% like if like.joke_id == joke.id %>
    <% end  %>
    <%= @joke_likes.size %> <%= @joke_likes.size == 1 ? "like" : "likes" %>

    <% @user_like = Like.find_by(user_id: current_user.id, joke_id: joke.id) %>
    <% if @user_like.nil? %>

      <%= simple_form_for(@like) do |f| %>
        <%= f.input :joke, as: :hidden, input_html: {value: joke.id}%>
        <%= f.input :team, as: :hidden, input_html: {value: params[:id]}%>
        <%= f.submit "Like", class: 'btn btn-danger' %>
      <% end %>

    <% end %></h2>
  </div>
<% end %> </p>

<%= button_to "+", new_joke_path, params: {team_id: params[:id]}, method: :get, class: "add-button" %>


