<div class="team-page">
  <div class="teambar">
    <h1><%= @team.name.capitalize %></h1>
    <p>Rejoindre l'équipe avec ce code : <strong> <%= @team.code %></strong></p>

    <% if !@users.empty? %>
      <p> <% @users.each do |user| %>
        <% if user == @users.last %>
          <%= user.pseudo.capitalize %>
        <% else %>
          <%= user.pseudo.capitalize + ", " %>
        <% end %>
      <% end %> </p>
    <% end %>
  </div>

  <div class="jokes">
    <% @jokes.each do |joke| %>
      <div class="joke">
        <% user = User.find_by(id: joke.user_id) %>
        <div>
          <%= cl_image_tag user.photo, class:"joke-avatar" %>
          <div class="joke-pseudo">
            <%= user.pseudo %>
          </div>
        </div>
        <div class="joke-body">
          <%= joke.description %>
        </div>
        <div class="joke-like">
          <% @user_like = Like.find_by(user_id: current_user.id, joke_id: joke.id) %>

          <% if @user_like.nil? %>
            <div id="heart-btn">
              <%= simple_form_for(@like, remote: true) do |f| %>
                <%= f.input :joke, as: :hidden, input_html: {value: joke.id}%>
                <%= f.input :team, as: :hidden, input_html: {value: params[:id]}%>
                <button type="submit"><i class="fas fa-heart"></i></button>
              <% end %>
            </div>

            <div id="like-nb">
              <%= joke.likes.count %>
            </div>

          <% else %>

            <i class="fas fa-heart heart-red"></i> <%= joke.likes.size %>
          <% end %>

        </div>
      </div>
    <% end %>
  </div>
  <div class="joke-button-parent">
    <%= button_to "+", new_joke_path, params: {team_id: params[:id]}, method: :get, class: "add-joke-button" %>
  </div>
</div>


