<div class="team-page">
  <div class="teambar">
    <div class="back">
      <%= link_to teams_path do  %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
    </div>
    <div>
      <h1><%= @team.name.capitalize %></h1>
      <p>Invite tes amis avec ce code : <strong> <%= @team.code %></strong></p>

      <p> <% @teamusers.each do |user| %>
        <% if user == @teamusers.last %>
          <%= user.teamuser_pseudo.capitalize %>
        <% else %>
          <%= user.teamuser_pseudo.capitalize + ", " %>
        <% end %>
      <% end %> </p>
      <p class="link-to"> <%= link_to "+ Ajouter des participants", new_teamuser_path(team_id: @team.id) %> </p>
    </div>
  </div>

  <div class="jokes">
    <% @jokes.each do |joke| %>
      <div class="joke">
        <% teamuser = Teamuser.find_by(id: joke.teamuser_id) %>
        <div class="joke-person">
          <% if !teamuser.user_id.nil? %>
            <%= cl_image_tag teamuser.user.photo, class:"joke-avatar" %>
          <% end %>
          <div class="joke-pseudo">
            <%= teamuser.teamuser_pseudo %>
          </div>
        </div>
        <div class="joke-body">
          <%= joke.description %>
        </div>
        <div class="joke-like">
          <% @user_like = Like.find_by(user_id: current_user.id, joke_id: joke.id) %>

          <% if @user_like.nil? %>
            <div id="heart-btn-<%= joke.id %>">
              <%= simple_form_for(@like, remote: true) do |f| %>
                <%= f.input :joke, as: :hidden, input_html: {value: joke.id}%>
                <%= f.input :team, as: :hidden, input_html: {value: params[:id]}%>
                <button type="submit"><i class="fas fa-heart"></i></button>
              <% end %>
            </div>

            <div id="like-nb-<%= joke.id %>">
              <%= joke.likes.count %>
            </div>

          <% else %>

            <i class="fas fa-heart heart-red"></i> <%= joke.likes.size %>
          <% end %>

        </div>
      </div>
    <% end %>
  </div>
  <div class="joke-button-parent">
    <%= link_to "+", new_joke_path(params: {team_id: params[:id]}), method: :get, class: "add-joke-button" %>
  </div>
</div>


