<h1>Team <%= @team.name %></h1>
<h4> <%= @team.description  %></h4>
<p> Participants :
<% @users.each do |user| %>
  <p> <%= user.pseudo  %> </p>
<% end %> </p>

<%= form_for(@user) do |f| %>
  <div class="form-group">
    <%= f.label :pseudo %>
    <%= f.text_field :pseudo, class: 'form-control' %>
    <%= f.text_field :team, type: :hidden, value: params[:id]%>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>


