<div class="container">
  <h1> <%= Team.find(params[:id]).name  %> </h1>
  <div>
    <%= simple_form_for(@teamuser, url: teamuser_path, method: :patch) do |f| %>
      <%= f.input :teamuser_pseudo, collection: @teamusers, label: "Qui es-tu ?" %>
      <%= f.input :team_id, as: :hidden, input_html: { value: params[:id] }%>
      <%= f.submit "Rejoins l'équipe", class: 'btn btn-success' %>
    <% end %>
  </div>

  <p class="ou"><strong>OU</strong></p>
  <p>Si tu ne trouves pas ton pseudo dans la liste</p>

  <div>
    <%= simple_form_for(@teamuser, url: create_teamuser_path, method: :get) do |f| %>
      <%= f.input :teamuser_pseudo, label:"Quel est ton pseudo ?" %>
      <%= f.input :team_id, as: :hidden, input_html: { value: params[:id] }%>
      <%= f.submit "Rejoins l'équipe", class: 'btn btn-success' %>
    <% end %>
  </div>

</div>

