<div class="container">
  <%= simple_form_for(@joke) do |f| %>
    <%= f.input :teamuser_id, collection: @teamusers, label: "Qui a dit quoi ? #balancetonpote" %>
    <%= f.input :description, label: "Citation" %>
    <%= f.input :team_id, as: :hidden, input_html: { value: params[:team_id] }%>
    <%= f.submit "Ajoute une citation", class: 'btn btn-success' %>
  <% end %>
</div>
